<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/nav') %>
  <h1 class="title">
     <%=title %>
  </h1>
  <p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, veritatis eum? Dolor quaerat, laudantium perferendis a est nulla omnis minus distinctio quos libero pariatur modi dolorem nesciunt ducimus voluptates, sed aliquid recusandae et tenetur magnam ut veniam. Quod laudantium modi tenetur, fugiat repellendus error blanditiis animi et sed, voluptatum, vero rerum expedita nam impedit dolore molestias quas eligendi ab repellat. Culpa fugit quod, aliquam libero rem neque similique porro dolorem illum? Voluptate, amet repellendus. Eius autem, dolor eaque dignissimos dicta similique iste ab, ad velit eveniet ex, laboriosam aperiam dolorem doloribus magni at asperiores? Veritatis cumque nihil voluptas sed ratione.
  </p>
  <h2 class="services">
    Our Services
  </h2>
  <ul class="list_services">
    <li>
      Web Development
    </li>
    <li>
      Mobile App Development
    </li>
    <li>
      Iot App Development
    </li>
    <li>
      Desktop Development
    </li>
  </ul>
</body>
</html>
